#button{
  text-align: center;
}


#table{
	text-align:center;
	border:1px solid white;
	width:250px;
	haight:150px;
	margin: 20px auto 5px auto;
	color:white;
}

.web{
	color:white;
	text-align:center;
}

.Jahny {
	margin: 2px auto 1px auto;
	font-size:30px;
}

.Message{
 width: 82%;
 background-color:#a81717;
 color:#f20000;
 border:2px solid;
 margin: auto;
 margin-bottom:50px;
 margin-top:35px;
 padding:5px;
 font-size: 13.5px;
}

#leave{
	font-size:35px;
	float: right;
	margin-right: 50px;
	margin-top: 25px; 
	border:2px solid;
	color:#cdf7cd;
	padding:10px;
	text-decoration:none;
}

#leave:hover{
	color:#edf7ed;
	border:3px solid;
}

#bgpm{
 background-color:#545654;
 color:white;
 border:2px solid;
 width: 100%;
 font-size:80px;
 box-shadow:33px 33px 117px #545654;
 padding:25px;
 text-align: center;
 margin: 100px auto 120px auto;
 transform:scale(1.3 );
}

.web:hover{
	color:#ba9941;
}

body { 
background-color:black; 
margin:0;
}

#info{
	border:1px solid #545654;
	background-color:#545654;
	padding-bottom:35px;
	padding-top:35px;
	font-size:20px;
	color:white;
	margin-top:20px;
	text-align: center;
	margin-bottom:0px;
}

#h{
	font-size:25px;
}

#Quote{
	font-size:15px;
}

#Secretary{
	background-color:#4d4f51;
	text-align:center;
	color:white;
}

#BGI{
	background-color:#4d4f51;
	text-align:center;
	color:white;
}

.Phone{
 font-size:30px;
 margin-top:40px;
 color:white;
}

.price{
	font-size:28px;
    margin-bottom:50px;
	margin-top:15px;
	color:white;
    text-decoration:underline;
	}

.ssilka{
	color:white;
	text-decoration:none;
}

.ssilka:hover{
	color:#898e89;
}

.Zag{
    text-align:center;
	font-size:30px;
	text-decoration:underline;
	margin-top:25px;
	color:white;
}

.har2{
	font-size:20px;
	color:white;
}

.price2{
	font-size:30px;
	margin-left:140px;
	color:white;
}

.har{
	color:#fff;
	text-align:center;
	border:2px solid #af493d;
	background-color:#af493d;
	padding: 15px;
}

.PhoneWWW{
	font-size:30px;
	border:2px solid;
	margin-top:40px;
}

#PhoneInfo{
	font-size:25px;
	margin-top:40px;
	color:white;
}

#Fraza{
	text-align:center;
	border:2px solid;
	font-weight:600px;
	padding-top:30px;
	padding-bottom:30px;
	color:pink;
	font-size:34px;
     width: 550px;
	height: 50px;
	margin: 30px auto 30px auto;
}


#Fraza:hover{
	color:yellow;
	background-color:red;
}

#panel{
	font-size:20px;
	color:yellow;
	borber:2px solid red;
	background-color:red;
	margin-top:50px;
}

#teh{
	text-decoration:none;
	color:yellow;
}

#teh:hover{
	text-decoration:underline;
	color:orange;
}

.button2{
	color:white;
	margin-right: 15px;
	border:2px solid;
	font-size:40px;
	text-decoration:none;
	margin-bottom:50px;
	padding: 3px;
}
@media (min-width: 768px) {
	.button2 {
		font-size:35px;
	}
	#bgpm {
		font-size: 50px;
		width: 650px;
	}
	.Jahny {
		width: 120px;
	    height: 75px;
	}
	.web {
		font-size: 20px;
		padding: 2.0px;
	}
	.Message {
		font-size: 16.5px;
	}
	.news {
		font-size:20px;
		width:320px;
		height:100px;
	}
	#White{
	font-size:6px;
}
	}

	@media (max-width: 768px) {
	.button{
		padding-bottom:50px;
		padding-top:50px;
	}
	
	.button2 {
		font-size:30px;
		width:200px;
		padding-bottom:10px;
		padding-top:10px;
	}
	#bgpm {
		font-size: 50px;
		width: 500px;
	}
	.Jahny {
		width: 120px;
	    height: 75px;
	}
	.web {
		font-size: 20px;
		padding: 2.0px;
	}
	.Message {
		font-size: 16.5px;
	}
	.news {
		font-size:30px;
		width:400px;
	height:150px;
	}
	#White{
	font-size:6px;
}
	}


.button2:hover{
	font-weight: 600;
	border:5px inset;
	transition-duration: .3s;
}

.news{
	font-size:20px;
	margin-top:40px;
	border:8px double #545654;
	width:700px;
   	text-align:center;
    color:#9a9e9a;
	font-weight:600;
}

.cW{
	color:White;
}

#White{
	color:#fff;
	padding:10px;
	text-decoration:none;
		border:2px solid;
		font-size:18px;
}

#White:hover{
	color:#a7aaa7;
	border:3px solid;
}

.zdes{
	font-weight: 600;
	border:10px double;
}